.form-control{
  width: 40rem!important;
}
.form-horizontal{
  margin: 0 auto;
  display: inline-block;
}
#page_footer {
height: 60px;
background: #f5f5f5;
}
.footer_text{
margin: 20px 0;
color: #777;
}
.help-block{
    text-align: left;
    font-size: 1.25rem;
}
.linee{
    margin-top : 1%;
    margin-bottom: 3%;
    border-top: 2px solid #000;
    width: 58%;
}
.ppage-header{
  margin-top: 5%;
}
.hheader{
  width: 58%;
  margin: 0 auto;
  text-align: left;
  font-size: 3rem;
  
}

//사이드 메뉴
@import url(https://fonts.googleapis.com/css?family=Arimo:400,400italic,700,700italic);
body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
}

main {
  z-index: 2;
  position: relative;
  height: 100%;
  background-color: #fff;
  -webkit-transition: transform .7s ease-in-out;
  -moz-transition: transform .7s ease-in-out;
  -ms-transition: transform .7s ease-in-out;
  -o-transition: transform .7s ease-in-out;
  transition: transform .7s ease-in-out;
}

.sidebar {
  height: 100%;
  width: 400px;
  position: fixed;
  top: 0;
  z-index: 1;
  right: 0;
  background-color: #fff;
}

.bar {
  display: block;
  height: 2px;
  width: 28px;
  background-color: #000;
  margin: 10px auto;
}

.button {
  cursor: pointer;
  display: inline-block;
  width: auto;
  margin: 0 auto;
  -webkit-transition: all .7s ease;
  -moz-transition: all .7s ease;
  -ms-transition: all .7s ease;
  -o-transition: all .7s ease;
  transition: all .7s ease;
}

.nav-right {
  position: fixed;
  right: 40px;
  top: 20px;
}

.nav-right.visible-xs {
  z-index: 3;
}

.hidden-xs {
  display: none;
}

.middle {
  margin: 0 auto;
}

.bar {
  -webkit-transition: all .7s ease;
  -moz-transition: all .7s ease;
  -ms-transition: all .7s ease;
  -o-transition: all .7s ease;
  transition: all .7s ease;
}

.nav-right.visible-xs .active .bar {
  background-color: #FFF;
  -webkit-transition: all .7s ease;
  -moz-transition: all .7s ease;
  -ms-transition: all .7s ease;
  -o-transition: all .7s ease;
  transition: all .7s ease;
}

.button.active .top {
  -webkit-transform: translateY(15px) rotateZ(45deg);
  -moz-transform: translateY(15px) rotateZ(45deg);
  -ms-transform: translateY(15px) rotateZ(45deg);
  -o-transform: translateY(15px) rotateZ(45deg);
  transform: translateY(10px) rotateZ(45deg);
}

.button.active .bottom {
  -webkit-transform: translateY(-15px) rotateZ(-45deg);
  -moz-transform: translateY(-15px) rotateZ(-45deg);
  -ms-transform: translateY(-15px) rotateZ(-45deg);
  -o-transform: translateY(-15px) rotateZ(-45deg);
  transform: translateY(-15px) rotateZ(-45deg);
}

.button.active .middle {
  width: 0;
}

.move-to-left {
  -webkit-transform: translateX(-400px);
  -moz-transform: translateX(-400px);
  -ms-transform: translateX(-400px);
  -o-transform: translateX(-400px);
  transform: translateX(-400px);
}

nav {
  padding-top: 30px;
  background-color: #fff;
}

.sidebar-list {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  margin-top: 150px;
  text-align: center;
}

.sidebar-item {
  margin: 30px 0;
  opacity: 0;
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -o-transform: translateY(-20px);
  transform: translateY(-20px);
}

.sidebar-item:first-child {
  -webkit-transition: all .7s .2s ease-in-out;
  -moz-transition: all .7s .2s ease-in-out;
  -ms-transition: all .7s .2s ease-in-out;
  -o-transition: all .7s .2s ease-in-out;
  transition: all .7s .2s ease-in-out;
}

.sidebar-item:nth-child(2) {
  -webkit-transition: all .7s .4s ease-in-out;
  -moz-transition: all .7s .4s ease-in-out;
  -ms-transition: all .7s .4s ease-in-out;
  -o-transition: all .7s .4s ease-in-out;
  transition: all .7s .4s ease-in-out;
}

.sidebar-item:nth-child(3) {
  -webkit-transition: all .7s .6s ease-in-out;
  -moz-transition: all .7s .6s ease-in-out;
  -ms-transition: all .7s .6s ease-in-out;
  -o-transition: all .7s .6s ease-in-out;
  transition: all .7s .6s ease-in-out;
}

.sidebar-item:last-child {
  -webkit-transition: all .7s .8s ease-in-out;
  -moz-transition: all .7s .8s ease-in-out;
  -ms-transition: all .7s .8s ease-in-out;
  -o-transition: all .7s .8s ease-in-out;
  transition: all .7s .6s ease-in-out;
}

.sidebar-item.active {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
}

.sidebar-anchor {
  color: #000;
  text-decoration: none;
  font-size: 1.8em;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 7px;
}

.sidebar-anchor:before {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #FFF;
  -webkit-transition: all .7s ease-in-out;
  -moz-transition: all .7s ease-in-out;
  -ms-transition: all .7s ease-in-out;
  -o-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out;
}

.sidebar-anchor:hover:before {
  width: 100%;
}

.ua {
  position: absolute;
  bottom: 20px;
  left: 60px;
}

.fa {
  font-size: 1.4em;
  color: #EF8354;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.ua:hover .fa {
  color: #FFF;
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  transform: scale(1.3);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.img-circle{
  width: 30px;
  height: 30px;
}

@media (min-width: 480px) {
  .nav-list {
    display: block;
  }
}

@media (min-width: 768px) {
  .nav-right {
    position: absolute;
  }
  .hidden-xs {
    display: block;
  }
  .visible-xs {
    display: none;
  }
}

//사이드 메뉴 바디
body{
	background-size:100% 100%;
}
a.nostyle{
	color:inherit;
	text-decoration:none;
	padding:0;
	margin:0;
}
div.portfoliocard{
  background-color: #FFD039!important;
	position:relative;
	height:100%;
	width:400px;
	background:rgba(255,255,255,1);
	margin:0 auto;
	overflow:hidden;
	z-index:100;
}
div.portfoliocard div.coverphoto{
	width:100%;
	height:120px;
	background-position:center center;
	border-top-right-radius:5px;
	border-top-left-radius:5px;
	border-bottom:1px solid rgba(0,0,0,0.1);
	box-shadow:inset 0px 3px 20px rgba(255,255,255,0.3),
				1px 0px 2px rgba(255,255,255,0.7);
	z-index:99;
}
div.portfoliocard div.left_col, div.portfoliocard div.right_col{
	float:left;
	height:100%;
}
div.portfoliocard div.left_col{
	width:0%;
	padding-top:85px;
	box-sizing:border-box;
}
div.portfoliocard div.right_col{
	width:100%;
	background:rgba(245,245,245,1);
	border-left:1px solid rgba(230,230,230,1);
	box-shadow:inset 0px 1px 1px rgba(255,255,255,0.7);
	border-bottom-right-radius:5px;
	padding-top: 0px;
}
.small_img{
  width: 110px;
	height: 110px;
	background: rgba(255,255,255,1);
	margin: 0 auto;
	display: block;
	border-radius: 100%;
	background-size: 100% 100%;
	padding: 0px;
	margin-top: 35px;
	border: 4px solid rgba(255,255,255,1)
}

div.portfoliocard div.right_col h2.name{
	font-size:30px;
	font-weight:300;
	color: rgba(30,30,30,1);
	padding:0;
	margin:20px 0px 0px 0px;
}
div.portfoliocard div.right_col h3.location{
	font-size:15px;
	font-weight:300;
	color:rgba(170,170,170,1);
	padding:0;
	margin:-5px 10px 10px 30px;
}
div.portfoliocard ul.contact_information{
	margin-top:20px;
	padding-left:30px;
	list-style-type:none;
}
div.portfoliocard ul.contact_information li{
	height:25px;
	width:60%;
	line-height:25px;
	font-weight:300;
	font-size:15px;
	color:rgba(140,140,140,1);
	text-shadow:1px 1px 1px rgba(255,255,255,0.8);
	padding:5px 0px;
	background-repeat:no-repeat;
	background-size:18px 18px;
	border-bottom:1px solid rgba(0,0,0,0.1);
	box-shadow:0px 1px 1px rgba(255,255,255,0.6);
	cursor:default;
	margin: 0 auto;
}
div.portfoliocard ul.contact_information li:before{
	content:"";
	width:25px;
	height:25px;
	display:block;
	float:left;
	background-position:center;
	background-size:18px 18px;
	background-repeat:no-repeat;
	margin-right:5px;
	opacity:0.7;
}
div.portfoliocard ul.contact_information li:hover:before{
	opacity:1;
}
div.portfoliocard ul.contact_information li.work:before{
	background-image: url('http://schulzmarcel.de/x/icons/case_24.png');
}
div.portfoliocard ul.contact_information li.website:before{
	background-image: url('http://schulzmarcel.de/x/icons/globe_24.png');
}
div.portfoliocard ul.contact_information li.mail:before{
	background-image: url('http://schulzmarcel.de/x/icons/paper_plane_24.png');
}
div.portfoliocard ul.contact_information li.phone:before{
	background-image: url('http://schulzmarcel.de/x/icons/phone_24.png');
}
div.portfoliocard ul.contact_information li.resume:before{
	background-image: url('http://schulzmarcel.de/x/icons/inbox_24.png');
}
div.portfoliocard div.followers, div.portfoliocard div.following{
	margin:15px 0px 0px 35px;
	font-weight:300;
	font-size:16px;
	color:rgba(30,30,30,1);
}
div.portfoliocard div.follow_count{
	font-weight:400;
	font-size:25px;
	color:rgba(140,140,140,1);
}
#bottom-head{
  position: relative;
  background: #FFD039;
  height: 25px;
}
#bottom-head::after{
  content: '';
  width: 0px;
  height: 0px;
  display: block;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  border-bottom: 10px solid whitesmoke;
  border-right: 10px solid rgba(0,0,0,0);
  border-left: 10px solid rgba(0,0,0,0);
  border-top: 10px solid rgba(0,0,0,0);
}
