<head>
  <link href="login.scss" type="text/css">
</head>

 

<div class="container">
<div class="contentwrap">
    <div class="ppage-header">
      <p class="hheader">상황에 따른 질문</p>
    </div>
    <hr class="linee">
    
                      
   <form class="form-inline col-sm-8 col-sm-offset-2" action="/mypage/create2" method="post">
      <h4>친구랑 술을 먹는데 막차가 끊겼다. 재워달라는 친구의 부탁. 방에는 룸메가 있다.</h4>
      <div class="big_question">
            <input type="text" name="fancy-text-1" id="fancy-text" placeholder="말하고 재우자...그냥 재유지 말자..."/>
      </div>
      
      <h4>안쓰는 코드는 뽑아야 하는 당신. 그렇지 않은 룸메.</h4>
      <div class="big_question">
            <input type="text" name="fancy-text-2" id="fancy-text" placeholder="내가 다 뽑지 뭐...말하자...참자..."/>
      </div>
      
      <h4>집을 자주 비우는 당신. 잡안일에 대해 룸메가 불만을 가졌다.</h4>
      <div class="big_question">
            <input type="text" name="fancy-text-3" id="fancy-text" placeholder="내가 자주 비우는 건 어쩔 수 없지...그건 아니야.."/>
      </div>
      
      <h4>룸메가 미친듯이 코를 골면서 자고 있다.</h4>
      <div class="big_question">
            <input type="text" name="fancy-text-4" id="fancy-text" placeholder=" 아...깨울까... 귀마개를 낄까...참을까.."/>
      </div>
      
      <h4>방에 룸메랑 있는데 여자친구(혹은 남자친구)가 전화가 왔다.</h4>
      <div class="big_question">
            <input type="text" name="fancy-text-5" id="fancy-text" placeholder=" 아..나가서 받을까..그냥 받을까.. "/>
      </div>
      
      
      <button type="submit" class="btn btn-primary" style="margin-top:10px">최종 제출</button>
    </form>
    
    
</div>
</div>
  

