<head>
  <link href="login.scss" type="text/css">
</head>


<div class="container">
<div class="contentwrap">
    <div class="ppage-header">
      <p class="hheader">생활패턴</p>
    </div>
    <hr class="linee">
    
                      
    <form class="form-inline col-sm-8 col-sm-offset-2" action="/mypage/type_update" method="post">
      <h3>주로 공부하는 장소는 어디인가?</h3>
      <div class="big_question">
        <div class="question">
          <h5>방에서한다.</h5>
          <input type="radio" name="a" id="fancy-radio-1" value="집순이">
          <label for="fancy-radio-1">Radio</label>
        </div>
        
        <div class="question">
          <h5>밖에서 한다.(카페, 도서관 등)</h5>
          <input type="radio" name="a" id="fancy-radio-2" value="역마살이"/>
          <label for="fancy-radio-2">Radio</label>
        </div>
      </div>
      
      <h3>알람 소리에 예민한가?</h3>
      <div class="big_question">
          <div class="question">
            <h5>조금만 울려도 깨버려</h5>
            <input type="radio" name="b" id="fancy-radio-3" value="알람 민감형"/>
            <label for="fancy-radio-3">Radio</label>
          </div>
          <div class="question">
            <h5>둔감해서 잘 못느껴...</h5>
            <input type="radio" name="b" id="fancy-radio-4" value="알람 둔감형"/>
            <label for="fancy-radio-4">Radio</label>
          </div>
      </div>
      
      <h3>술 얼마나 자주 마셔?</h3>
      <div class="big_question">
          <div class="question">
            <h5>즐겨 마셔(주 2회 이상)</h5>
            <input type="radio" name="c" id="fancy-radio-5" value="애주가"/>
            <label for="fancy-radio-5">Radio</label>
          </div>
          <div class="question">
            <h5>자주 안마셔</h5>
            <input type="radio" name="c" id="fancy-radio-6" value="절주가"/>
            <label for="fancy-radio-6">Radio</label>
          </div>
      </div>
      
      <h3>취침&기상 패턴은?</h3>
      <div class="big_question">
          <div class="question">
            <h5>올빼미 BUT 일찍 기상</h5>
            <input type="radio" name="d" id="fancy-radio-7" value="늦자일기"/>
            <label for="fancy-radio-7">Radio</label>
          </div>
          <div class="question">
            <h5>올빼미 SO 늦게 기상</h5>
            <input type="radio" name="d" id="fancy-radio-8" value="늦자늦기"/>
            <label for="fancy-radio-8">Radio</label>
          </div>
          <div class="question">
            <h5>일찍자고 BUT 늦게 기상</h5>
            <input type="radio" name="d" id="fancy-radio-9" value="일자늦기"/>
            <label for="fancy-radio-9">Radio</label>
          </div>
          <div class="question">
            <h5>일찍자고 SO 일찍 기상</h5>
            <input type="radio" name="d" id="fancy-radio-10" value="일자일기"/>
            <label for="fancy-radio-10">Radio</label>
          </div>
      </div>
   
      <button type="submit" class="btn btn-primary">다음단계</button>
    </form>
    
     
    
    
    
</div>
</div>
  

